body{
  background-color: #F7F7F7;
  min-height: 100vh;
}
.fixedData{position: fixed;overflow: hidden;}
.fixedData1{position: static;}
.fcc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headNav{
  height: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  padding:0 0.32rem;
  display: flex;
  text-align:left;
  align-items: center;
  justify-content: center;
  font-size:0.4rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(51,51,51,1);
}
.con-top{
  width:100%;
  padding:0.4rem 0.6133rem;
  box-sizing: border-box;
  background:rgba(255,255,255,1);
  border-radius:0.1333rem;
  font-size:0.3467rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:0.5733rem;
}
.box{
  width:9.3333rem;
  padding:0 0.2667rem 0.4rem 0.2667rem;
  box-sizing: border-box;
  background:rgba(255,255,255,1);
  border-radius:0.1333rem;
  margin:0.4rem auto 0 auto;
}
.box-top{
  height:0.96rem;
  color:#219C7D !important;
  display: flex;
  align-items: center;
  font-size:0.4rem;
  font-family:PingFang SC !important;
  font-weight:bold;
  color:rgba(51,51,51,1);
}
.box-top img{
  width:0.4rem;
  height:0.4rem;
  margin-right:0.2267rem;
}
.box p{
  font-size:0.3467rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:0.5733rem;
}
.tabpane{
  width:100%;
  height:2.08rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.0667rem 0.3333rem 0 0.3333rem;
  box-sizing: border-box;
}
.tabBar{
  width:2.8rem;
  height:0.88rem;
  background:rgba(255,255,255,1);
  border:0.02rem solid rgba(32,156,127,1);
  border-radius:0.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:0.4rem;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(32,156,127,1);
}
.tabActive{
  background:rgba(32,156,127,1);
  color:rgba(255,255,255,1);
}
.tabBox{
  width:9.3333rem;
  background:rgba(255,255,255,1);
  border-radius:0.1333rem;
  padding-top:0.4rem;
  margin:0 auto;
  box-sizing: border-box;
}
table{
  font-size:0.32rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(51,51,51,1);
  padding:0 0.2667rem 0.4rem 0.2667rem;
  margin:0 auto 0.4rem auto;
  box-sizing: border-box;
  background:rgba(255,255,255,1);
}
th{
  height:0.8rem;
  text-align: center;
  line-height: 0.8rem;
}
td{
  height:1.0667rem;
  text-align: center;
}
.tableNum{
  color:#8B8A8D;
}
.title{
  width:1.1333rem;
}
.hot{
  width:2.5333rem;
}
.projectApp{
  background: #F8F6F9;
}
.projectBox{
  width:9.3333rem;
  background:rgba(255,255,255,1);
  border-radius:0.1333rem;
  padding:0 0.2667rem 0.4rem 0.2667rem;
  box-sizing: border-box;
  margin:0 auto 0.4rem auto;
  position: relative;
}
.noMar{margin-bottom:0}
.bigItem{
  height: 1.4667rem;
  background: #F8F6F9;
}
.bigItem img{
  width:100%;
  height:0.6667rem
}
.timeInterval{
  position: absolute;
  bottom:0;
  left:0;
  background: #F7F7F7;
}
.proFoot{height:0.8rem;}
.timeInterval img{
  width:100%;
  height:0.8rem;
}
.pro-head{
  height:0.8rem;
  display: flex;
  align-items: flex-end;
  font-size:0.4rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(32,156,127,1);
}
.pro-headTxt{
  padding:0.2667rem 0;
  font-size:0.3467rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(51,51,51,1);
}
.proBold{
  font-family:PingFang-SC-Bold;
  font-weight:Bold;
  color:#000000;
}
.video{
  width:8.8rem;
  height:4.9467rem;
}
.pro-target{
  font-size:0.3467rem;
  font-family:PingFang SC;
  font-weight:500;
  color:#8E8E8E;
  line-height:0.5467rem;
  margin-top:0.3333rem;
}
.pro-target span{
  color:#333333;
}
footer{
  width:100%;
  height:3.64rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:0.32rem;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(142,142,142,1);
  background: #F8F6F9;
}
footer img{
  width:0.9867rem;
  height:0.9867rem;
  margin-right:0.4rem;
}
/*弹层*/
#modalApp{
  width:100%;
  height:100vh;
  position: fixed;
  top:0;
  right:0;
  font-size:0.3467rem !important;
  bottom:0;
  left:0;
  background: rgba(51,51,51,.5);
}
.modal-tips{
  width:100%;
  font-size:0.3467rem;
  position: relative;
  margin-top:0.3733rem;
}
.modal-tips .bg{
  width:7.8667rem;
  height:0.6rem;
  background:rgba(246,172,51,1);
  opacity:0.3;
}
.modal-tips .text{
  width: 100%;
  position: absolute;
  top:0;
  left:50%;
  line-height:0.6rem;
  text-align:center;
  transform: translateX(-50%);
  color: #F57C00;
}
.scroolBox{
  width:7.8667rem;
  height:12.7733rem;
  background: #FFFFFF;
  margin:10vh auto 0 auto;
  position: relative;
  border-radius: 0.1333rem;
  display:flex;
  flex-direction: column;
}
.modal-title{
  margin-top: 0.5333rem;
  text-align:center;
  font-size:0.48rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:0.7067rem;
}
.modal-content{
  overflow-y: scroll;
  flex:1;
  height:100%;
}
.modal-content::-webkit-scrollbar {display:none}
.modal-box{
  box-sizing: border-box;
  padding: 0  0.32rem 0.2667rem 0.32rem;
}
.modal-box div{
  font-family:PingFang SC;
  line-height:0.6rem;
}
.alreadyRead{
  height:1.3333rem;
  background:rgba(255,255,255,1);
  border:1px solid rgba(228,228,228,1);
}
.alreadyRead .btn{
  width:4.5333rem;
  height:0.8rem;
  background:rgba(32,156,127,1);
  border:0.0133rem solid rgba(32,156,127,1);
  border-radius:0.4rem;
  text-align:center;
  color:#fff;
  font-size:0.3467rem;
  line-height:0.8rem;
}


/** 星期天 */
.tab-item{
  width:100%;
  height:0.6667rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size:0.3733rem;
}
.sunday-content{
  height:100%;
}
.content-item{
  width:9.3333rem;
  min-height:2.2933rem;
  background:rgba(255,255,255,1);
  border-radius:0.1333rem;
  margin: 0 auto;
  margin-bottom:0.4rem;
  display:flex;
  justify-content: flex-start;
  /* align-items:center; */
}
.sunday-hot-gif{
  width:2.6667rem;
  height:1.4933rem;
  margin-top:0.4rem;
}
.content-item div:nth-child(2){
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing:border-box;
  padding:0.3467rem;
  position: relative;
}
.content-item div:nth-child(2) p:nth-child(1){
  font-size:0.4rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(32,156,127,1);
}
.content-item div:nth-child(2) p:nth-child(2) {
  margin-top:0.16rem;
  font-size:0.32rem;
  color:#333;
  line-height:0.5333rem;
  min-height:0.6133rem;
  display:inline-block;
}
.content-item div:nth-child(2) p:nth-child(3) {
  background: #fff;
  /* width:2.1333rem; */
  text-align:right;
  position:absolute;
  right:0.32rem;
  bottom:0.3467rem;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.isHidden{
  overflow: hidden !important;
  -webkit-line-clamp: 2 !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}
.sunday-video{
  width:2.6667rem;
  height:1.4933rem;
  margin-top:0.4rem;
}